* {
  list-style: none;
  text-decoration: none;
}

body {
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
}

header {
  position: relative;
  background-color: rgb(248, 234, 30);
  display: flex;
}
ul {
  font-size: 20px;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  margin-left: 400px;
}
li {
  display: inline-block;
  margin: 35px;
}

#menu_btn:active {
  color: rgb(199, 20, 20);
}
#menu_btn:visited {
  color: rgb(199, 20, 20);
}

.logo {
  margin-left: 220px;
}

main section {
  background-color: rgb(248, 234, 30);
  text-align: center;
}

#poza{
  width: 863px;
}
main h1 {
  text-align: center;
  color: black;
  font-size: 36px;
}

main p {
  text-align: center;
  width: 500px;
  margin: auto;
  font-size: 20px;
}
button {
  background-color: rgb(22, 112, 248);
  color: #fff;
  border-radius: 5%;
  border-color: rgb(22, 112, 248);
  margin-top: 30px;
  margin-bottom: 20px;
  cursor: pointer;
  padding: 10px 20px;
}
button span {
  
  font-size: 25px;
}
button:hover {
  background-color: rgb(199, 20, 20);
  border-color: rgb(199, 20, 20);
}

section {
  padding-top: 50px;
}
section h2 {
  text-align: center;
  font-size: 36px;
}

section ul {
  display: flex;
  text-align: center;
  margin: auto;
}
section ul li {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-left: 1%;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

trainers ul{
  display: contents;
  text-align: center;
}
trainers ul li{
}